@page
@model EJ07_Views.Pages.Exercises.Pages_Exercises_Ejercicio7
@{
    ViewData["Title"] = "Ejercicio 7 - EJ0705";
}

<h2>Lista de números solicitados</h2>
<form name="formEje7" method="post">
    @if (Request.Method == "POST")
    {

    }
    else
    {

    }
    <p><input type="submit" class="submitButton" /></p>
</form>