@page
@model EJ07_Views.Pages.Exercises.Pages_Exercises_Ejercicio1
@{
    ViewData["Title"] = "Ejercicio 5 - EJ0703";
}

<h2>Creación de tabla</h2>
<form name="formEje5" method="post">
    @if (Request.Method == "POST")
    {
       <div class="ej5form">
            <label for="rows">Filas:</label>
            <select name="rows" id="rows" required>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
            <label for="columns">Columnas:</label>
            <select name="columns" id="columns" size="3" required>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
        </div>
        if (int.TryParse(Request.Form["rows"], out int rows) && int.TryParse(Request.Form["columns"], out int columns))
        {
            int nums = 1;
            <table class="ej5table" cellspacing="0">
            @for(int i = 0; i < rows; i++)
            {
                <tr>
                    @for(int j = 0; j < columns; j++)
                    {
                        <td>@(nums++)</td>   
                    }
                </tr>
            }
            </table>
        }
    }
    else
    {
        <div class="ej5form">
            <label for="rows">Filas:</label>
            <select name="rows" id="rows" required>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
            <label for="columns">Columnas:</label>
            <select name="columns" id="columns" size="3" required>
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
        </div>
    }
    <p><input type="submit" class="submitButton" value="Rellenar"/></p>
</form>