@page
@model EJ07_Views.Pages.Exercises.Pages_Exercises_Ejercicio6
@{
    ViewData["Title"] = "Ejercicio 6 - EJ0704";
}

<h2>Generador de contraseñas</h2>
<form name="formEje6" method="post">
    @if (Request.Method == "POST")
    {

    }
    else
    {

    }
    <p><input type="submit" class="submitButton" /></p>
</form>