@page
@model EJ07_Views.Pages.Exercises.Pages_Exercises_Ejercicio1
@{
    ViewData["Title"] = "Ejercicio 5 - EJ0703";
}

<h2>Creación de tabla</h2>
<form name="formEje5" method="post">
    @if (Request.Method == "POST")
    {
       
    }
    else
    {
       
    }
    <p><input type="submit" class="submitButton" /></p>
</form>