@page
@using System.Text.RegularExpressions;
@model EJE0701___Razor.Pages.IndexModel

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJ0701_INDEX</title>
    <link rel="stylesheet" href="./css/StyleSheet.css" />
</head>
<body>
    <header>
        <img src="./media/me.jpeg">
        <a href="/"><h1>Andrés Izquierdo</h1></a>
        <h2>1º Desarrollo de Aplicaciones Web A</h2>
    </header>
    <div class="flex-main">
        <main>
            <h2>Ejercicio 1</h2>
            <h3>Cálculo de números</h3>
            <p>Obtén la suma, resta, división y multiplicación de dos números introducidos.</p>

            <h2>Ejercicio 2</h2>
            <h3>Cuenta palabras</h3>
            <p>Dado un texto y una palabra, obtén la cantidad de veces que se encuentra la palabra en el texto dado.</p>

            <h2>Ejercicio 3</h2>
            <h3>Calculadora de días transcurridos</h3>
            <p>Obtén los días transcurridos desde una fecha ingresada hasta el día hoy.</p>

            <h2>Ejercicio 4</h2>
            <h3>Selección de números</h3>
            <p>Obtén la suma o la multiplicación de una serie de números que elijas.</p>
        </main>
        <aside>
            <a href="/Ejercicio1">Ejercicio 1</a>
            <a href="/Ejercicio2">Ejercicio 2</a>
            <a href="/Ejercicio3">Ejercicio 3</a>
            <a href="/Ejercicio4">Ejercicio 4</a>
            <a href="/">Principal</a>
        </aside>
    </div>
    <footer>
        <p>23 de Mayo 2023</p>
        <p>CIFP César Manrique</p>
        <p>Andrés Eduardo Izquierdo Brito</p>
        <p>Curso 2022 - 2023</p>
    </footer>
</body>
</html>