@page
@using ENT0701.Models
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
    <h1>Bike Stores Manager - ENT0701</h1>
    <h3>Management aplication for Bike Stores database.</h3>
    <img src="~/media/graphnobk.png"/>
    <img class="backgroundImage" src="~/media/bikeicon.png" />