@page
@using ENT0701.Models
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
    <h1>Gestión de tiendas de bicletas</h1>
    <h3>Aplicación de gestión de los datos de tiendas de bicicletas.</h3>
    <img src="~/media/graphnobk.png"/>
@*    @{
        List<string> customers = (from Customers in Model.Data.Customers select Customers.FirstName).ToList();
    foreach (string customer in customers)
        {
            <p>@customer</p>
        }
    }
*@