@page
@model EJE0701___Razor.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJ0701_INDEX</title>
        <link rel="stylesheet" href="./css/StyleSheet.css"/>
    </head>
    <body>
        <header>
            <img />
            <h1>Andrés Izquierdo</h1>
            <h2>1 DAW A</h2>
        </header>
        <aside>

        </aside>
        <footer>

        </footer>
    </body>
</html>