@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<body>
    <a class="exercisesTitlesBtn" href="#page1">EJE0701</a>
    <a class="exercisesTitlesBtn" href="#page2">EJE0702</a>
    <a class="exercisesTitlesBtn" href="#page3">EJE0703</a>
    <a class="exercisesTitlesBtn" href="#page4">EJE0704</a>
    <a class="exercisesTitlesBtn" href="#page5">EJE0705</a>
    <span class="tituloSeleccEjercicios">Selecciona un ejercicio para visualizar enunciados</span>

    <div class="exePage" id="page1">
        <h2>Ejercicio 1</h2>
        <h3>Cálculo de números</h3>
        <p>Obtén la suma, resta, división y multiplicación de dos números introducidos.</p>
        <a href="https://docs.google.com/document/d/1bAXvvNXLvzhizw4wcb8GluzAtFwi9FCZwMetyIuQHAw/edit#heading=h.owbp3wvf12jp">Enunciado del ejercicio</a>
        
        <h2>Ejercicio 2</h2>
        <h3>Cuenta palabras</h3>
        <p>Dado un texto y una palabra, obtén la cantidad de veces que se encuentra la palabra en el texto dado.</p>
        <a href="https://docs.google.com/document/d/1bAXvvNXLvzhizw4wcb8GluzAtFwi9FCZwMetyIuQHAw/edit#heading=h.t26j4ru9sol9">Enunciado del ejercicio</a>
        <h2>Ejercicio 3</h2>
        <h3>Calculadora de días transcurridos</h3>
        <p>Obtén los días transcurridos desde una fecha ingresada hasta el día hoy.</p>
        <a href="https://docs.google.com/document/d/1bAXvvNXLvzhizw4wcb8GluzAtFwi9FCZwMetyIuQHAw/edit#heading=h.iglj6u6wntmo">Enunciado del ejercicio</a>
    </div>
    <div class="exePage" id="page2">
        <h2>Ejercicio 4</h2>
        <h3>Selección de números</h3>
        <p>Obtén la suma o la multiplicación de una serie de números que elijas.</p>
        <a href="https://docs.google.com/document/d/1M995Qb2dJpUsLQKV83SBeBCssA8Mk_7n_QqxVO_AECo/edit">Enunciado del ejercicio</a>
    </div>
    <div class="exePage" id="page3">
        <h2>Ejercicio 5</h2>
        <h3>Creación de tabla</h3>
        <p>Genera una tabla en base la selección de dos valores de columna y filas impares de un formulario.</p>
        <a href="https://docs.google.com/document/d/1zBGNVdUQFD4OLPjGy8IlRfGepN5tsfjRV4T37Gen4zo/edit">Enunciado del ejercicio</a>
    </div>
    <div class="exePage" id="page4">
        <h2>Ejercicio 6</h2>
        <h3>Generador de contraseñas</h3>
        <p>Genera una contraseña seleccionando el tipo de carácteres y la longitud de esta.</p>
        <a href="https://docs.google.com/document/d/1xes0cdU5sbH70yMwdQtjtHuXFJEnltXUo5hwxgENns8/edit">Enunciado del ejercicio</a>
    </div>
    <div class="exePage" id="page5">
        <h2>Ejercicio 7</h2>
        <h3>Lista de números solicitados</h3>
        <p>Obtén una lista de números de números solicidtados hasta que se introduzca el número 0. Cuando se pulse el cero, se mostrará la cantidad de veces que se ha introducido un cada número introducido.</p>
        <a href="https://docs.google.com/document/d/1KNqv1X6TayxCU7mGGq01wxi1ETwt9Lgct8HX8teHSyE/edit#heading=h.fac9vga4qrek">Enunciado del ejercicio</a>
        <h2>Ejercicio 8</h2>
        <h3>Imagenes número</h3>
        <p>Obtén serie de imágenes que coinciden con una serie de números introducida.</p>
        <a href="https://docs.google.com/document/d/1KNqv1X6TayxCU7mGGq01wxi1ETwt9Lgct8HX8teHSyE/edit#heading=h.ufgr3r5k1y1p">Enunciado del ejercicio</a>
    </div>
</body>